html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 71px;
}
.header {
    background-color: #ddd;
    border-bottom: 1px solid #999;
    margin-bottom: 25px;
}
.header span {
    margin-top: 35px;
}

.footer {
    background-color: #ddd;
    border-top: 1px solid #999;
    padding: 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.logo {
    font-size: 32px;
    color: #000;
}
.logo:hover {
    text-decoration: none;
}
.login-form {
    margin-top: 25px;
}