html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 71px;
}
xmp {
    font-size: 14px;
    margin: 3px;
    padding: 6px 12px;
    background-color: #111;
    color: #eee;
    border-left: 4px solid #0d0;
}

.header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.header span {
    margin-top: 35px;
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.logo {
    font-size: 32px;
    color: #000;
}
.logo:hover {
    text-decoration: none;
}
.login-form {
    margin-top: 25px;
}

h1 {
    margin-bottom: 20px;
}
h2 {
    font-size: 24px;
}

.pubDate {
    font-weight: bold;
    color: #8c8;
}